.App,
.App-fluid,
.App-xxl,
.App-xl,
.App-lg,
.App-md,
.App-sm {
  display: flex;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
  align-items: stretch;
  min-height: 100%;
}

.mobile-info-open {
  overflow: hidden;
  max-height: calc(1080px - 20%);
}

@media (min-width: 576px) {
  .App-sm,
  .App {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .App-md,
  .App-sm,
  .App {
    max-width: 720px;
  }

  .mobile-info-open {
    overflow: auto;
    max-height: none;
  }
}

@media (min-width: 992px) {
  .App-lg,
  .App-md,
  .App-sm,
  .App {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .App-xl,
  .App-lg,
  .App-md,
  .App-sm,
  .App {
    max-width: 1140px;
  }
}

@media (min-width: 1600px) {
  .App-xxl,
  .App-xl,
  .App-lg,
  .App-md,
  .App-sm,
  .App {
    max-width: 1500px;
  }
}
